hmtl, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
}

html {
    position: fixed;
}

body {
  position: relative;
  background-color: gray;
}

#gameCanvas {
    position: absolute;
    background-color: white;
}

#rotateDeviceImg {
    position: absolute;
    width: 50vw;
    left: 25vw;
    top: calc(50vh - 25vw);
}

#helpImg {
    display: none;
}

#keysImg {
    display: none;
}

@media (orientation: landscape), (pointer: fine) {
    #gameCanvas {
        display: unset;
    }

    #rotateDeviceImg {
        display: none;
    }
}

@media (orientation: portrait) and (pointer: coarse) {
    #gameCanvas {
        display: none;
    }

    #rotateDeviceImg {
        display: unset;
    }
}